QWidget
{
	background-color: rgb(200, 200, 200);
}

QWidget.QScrollBar
{
	width: 16px;
}

QWidget.QGroupBox
{
    border: none;
    font-weight: bold;
}

QWidget.QPushButton
{
	background-color: rgb(130, 130, 130);
}

QWidget.QLineEdit, QWidget.QTextEdit, QWidget.QComboBox
{
	background-color: rgb(255, 255, 255);
	border: 1px solid gray;
}